<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/image.png" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  <title>Sportec</title>
</head>

<body>
  <div class="nav">
    <a href="#" class="logo"><img src="logo.png" alt=""></a>
  </div>

  <div class="container">
    <div class="wrapper">
      <h2>Log In</h2>
      <form action="/loginverify" method="POST" id="login-form">

        <div class="input-box">
          <input type="email" name="email" placeholder="Enter your email" required>
        </div>
        <div class="dflex">
          <div class="input-box">
            <input type="password" name="password" placeholder="Enter password" id="password" required>
          </div>
        </div>
        <div class="input-box button">
          <input type="submit" value="Login">
        </div>
        <div class="text">
          <h3>Don't have an account? <a href="/">Sign Up</a></h3>
        </div>
      </form>
    </div>
  </div>
<div class="end-text">
            <p>Copyright @2024. all rights reserved.designed by steve&sooraj</p>
        </div>
</body>
</html>