@import url('https://fonts.googleapis.com/css?family=MuseoModerno');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    position:fixed;
    width:100%;
    top:0;
    right:0;
    z-index:1000;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 10%;
    background-color: antiquewhite;
}
.logo img{
    max-width:200px;
    height:auto;
}
.navmenu{
    display: flex;
}
.navmenu a{
    color:#000000;
    font-size:16px;
    text-transform: capitalize;
    padding:10px 20px;
    font-weight:400;
    transition: all .42s ease;
}
.navmenu a:hover{
    color: #ee1c47;
}
.nav-icon{
    display:flex;
    align-items:center
}
.nav-icon i{
    margin-right:20px;
    color:#000000;
    font-size: 25px;
    font-weight: 400;
    transition:all .42s ease;
}
.nav-icon i:hover{
    transform:scale(1.1);
    color:#ee1c47;
}
.btn{
    display: flex;
    margin-right: 30px;
  }
  .btn button{
    height: 36px;
    width: 100px;
    border-radius: 20px;
    border: none;
    background-color: #ffffff;
    color: rgb(10, 10, 10);
    font-size: 14px;
    outline: none;
    transition: .4s ease;
    font-weight: 450;
  }
  .btn button:hover{
    position: relative;
  }
  .btn button:hover::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(139, 139, 139, 0.122);
    border-radius: 20px;
  }
.a-dflex{
    height: 100vh;
    width: 100hh;
    display: flex;
    justify-content: center;
}
.a-container{
    height: 800px;
    width: 1000px;
    padding: 20px;
    margin-top: 100px;
    overflow: auto;
    position: relative;
}
table{
    width: 950px;
    border-collapse: collapse;
    border: 2px solid black;
}
td,th{
    text-align: center;
    height: 30px;
    width: 80px;
    padding: 10px;
}
th{
    border: 2px solid rgba(0, 0, 0, 0.721);

}
i:hover{
    transform: scale(1.2);
}
button{
    width: 80px;
    height: 30px;
    border:none;
    border-radius: 8px;
    background-color: rgb(255, 0, 0);
    color: white;
}
button:hover{
    background-color: white;
    color: black;
    border:1px solid #000000;
}
footer{
    height: 70px;
    width: 100%;
    background-color: black;
    margin-top: 200px;
    background-color: rgb(51, 51, 51);
}
img{
    height: 30px;
}
.updatehead{
    display: flex;
    justify-content: space-between;
}

.updateform{
    width: 400px;
    height: 340px;
    background-color: rgb(186, 192, 250);
    padding: 30px;
    border-radius: 15px;
    z-index: 1000;
    top: 250px;
    left: 35%;
    position: absolute;
    display: none;
}

.updateform input{
    width: 300px;
    height: 30px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 6px;
    border: none;
}
.updateform button{
    margin-top: 20px;
}
.updateform button:hover{
    transform: scale(1.1);
}
.uform{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btnup{
    display: flex;
    gap: 10px;
}

.prop,.house,.contact,.appartments,.appartmentTable,.houseTable,.propTable,.villaTable,.feedback,.villa{
    display:block;
    margin-top: 20px;
}
.radioDiv{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    width: 800px;
    background-color: antiquewhite;
    border: 1px solid black;
}
.radioDiv label{
    margin-top: 14px;
}
#closeBtn{
    font-size:30px ;
}

#closeLogo{
height: 20px;
}

#closeLogo:hover{
    background-color: rgb(251, 251, 251);
    }